<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/logo2.png" type="image/x-icon">
    <title>Coffee and us</title>
    <link rel="stylesheet" href="css/coffee_and_us.css">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="https://use.typekit.net/mkj0qph.css">
</head>
<body>
    {{>navbar}}

    {{>intro_section}}

    <div class="coffee_and_us_cards_section">
        <div class="section_main_headings">
            <p class="muli_regular_300">Coffee plays a disproportionately important role in people’s lives, and we think it should not be treated as another office supply or a run-of-the-mill on-the-go brew. With coffee, there are dozens of things that can go wrong, so we take care of every little step—from the plant to your cup.</p>
            <div class="vertical_border bread_color"></div>
        </div>

        <div class="coffee_and_us_cards_section_content we_serve_section_cards">
            <div class="card we_serve_section_card_left">
                <img src="images/home_onthego.jpg" alt="coffee address">

                <div class="we_serve_section_cards_headings">
                    <h1 class="playfair_display_600">Company</h1>
                    <p class="muli_regular_300">At Coffee Address, we are reinventing the office and on-the-go coffee experience in ways that are relevant to the 21st century, be it new payment methods, personally tailored experiences, hand-picked coffee offerings from around the world under our premium brand Atlas, and more.</p>
                </div>
            </div>

            <div class="card we_serve_section_card_right">
                <img src="images/map.png" alt="Map">

                <div class="we_serve_section_cards_headings">
                    <h1 class="playfair_display_600">Location</h1>
                    <p class="muli_regular_300">We are the largest coffee company specializing in office and on-the-go coffee in the Baltics. We serve over 250,000 cups of coffee a day, and we have been in the business since 1993. Taking our origins as a business-to-business company, we thrive on superior client service with the largest service team that knows each and every client by name.</p>
                </div>
            </div>
            <div class="card we_serve_section_card_left">
                <img src="images/coffee_us_our_coffee.jpg" alt="Our Coffee">

                <div class="we_serve_section_cards_headings">
                    <h1 class="playfair_display_600">Our coffee</h1>
                    <p class="muli_regular_300">We have carefully selected great tasting coffees from around the world.</p>
                </div>
            </div>
            <div class="card we_serve_section_card_right">
                <img src="images/coffee_us_full_range.jpg" alt="Our Products">

                <div class="we_serve_section_cards_headings">
                    <h1 class="playfair_display_600">Full range of products</h1>
                    <p class="muli_regular_300">Alongside our coffee and coffee machines we provide a full complimentary range of products– sugar, tea, small snacks – you name it.</p>
                </div>
            </div>
            <div class="card we_serve_section_card_left">
                <img src="images/coffee_us_privatelabel.jpg" alt="Private labels">

                <div class="we_serve_section_cards_headings">
                    <h1 class="playfair_display_600">Private labels</h1>
                    <p class="muli_regular_300">Our private label solutions are designed to meet your individual needs from customised blends to customised packaging with your own brand.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="promote_section">
        <div class="text playfair_display_300">Book a free coffee tasting and demonstration.</div>
        <div class="btn"><a href="/our-coffee"><button class="container_main_btn muli_bold promote_section_btn">See Our Coffee</button></a></div>
    </div>

    {{>footer}}
</body>
<script src="https://kit.fontawesome.com/0b090846fe.js" crossorigin="anonymous"></script>
<script src="js/coffee_and_us.js"></script>
</html>