<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coffee in Cafe</title>
    <link rel="shortcut icon" href="images/logo2.png" type="image/x-icon">
    <link rel="stylesheet" href="css/coffee_in_cafe.css">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="https://use.typekit.net/mkj0qph.css">
</head>
<body>
    {{>navbar}}

    {{>intro_section}}

    <div class="we_serve_section_cards our_coffee_section_cards">
            <div class="card we_serve_section_card_left">
                <img src="images/kimbo_resized_1.jpg" alt="Kimbo Espresso bar">

                <div class="we_serve_section_cards_headings">
                    <h1 class="playfair_display_600">Kimbo Espresso bar</h1>
                    <p class="muli_regular_300">Each of Espresso bar coffee bean blends has its own unique flavour profile and personality. Discover your favourite to delight yourself with the high quality, authentic taste of Naples.</p>
                </div>
            </div>

            <div class="card we_serve_section_card_right">
                <img src="images/kimbo_resz.jpg" alt="Coffee machines">

                <div class="we_serve_section_cards_headings">
                    <h1 class="playfair_display_600">Professional coffee machines</h1>
                    <p class="muli_regular_300">Whether you have a café, a restaurant or any other business where you want to have a great coffee - we can offer the most reliable professional coffee machines to meet your needs. From hand-operated machines for passionate baristas to easily operated, cleaned and maintained super-automatic coffee machines for every ordinary person. We have it all.</p>
                </div>
            </div>
            <div class="card we_serve_section_card_left">
                <img src="images/mill.jpg" alt="Home Office">

                <div class="we_serve_section_cards_headings">
                    <h1 class="playfair_display_600">Lavazza Expert Range</h1>
                    <p class="muli_regular_300">The right selection of coffee beans is chosen to produce a high-quality espresso-based drinks. The organoleptic properties of the selected coffees remain intact right until they are dispensed, even after prolonged periods in the vending and automatic coffee machines.</p>
                </div>
            </div>
            <div class="card we_serve_section_card_right">
                <img src="images/CA_Coffee_in_Cafe_Accessories@2x.png" alt="Home Office">

                <div class="we_serve_section_cards_headings">
                    <h1 class="playfair_display_600">Kimbo Espresso Bar</h1>
                    <p class="muli_regular_300">Each Espresso bar blend has its own unique flavour profile and personality. Discover your favourite and get yourself lost in the authentic taste of Naples.</p>
                </div>
            </div>
    </div>

    <div class="business_services_section">
        <div class="section_main_headings">
            <h1 class="playfair_display_600">Full Services</h1>
            <p class="muli_regular_300">for your business</p>
            <div class="vertical_border bread_color"></div>
        </div>

        <div class="business_services_section_lists muli_regular_300">
            <li>Professional coffee machine calibration and installation</li>
            <li>Service and maintenance</li>
            <li>6-8 hour response on the breakdowns</li>
            <li>Coffee and other product delivery</li>
            <li>Training and consultation</li>
        </div>
    </div>

    <div class="promote_section">
        <div class="text playfair_display_300">Book a free coffee tasting and demonstration.</div>
        <div class="btn"><a href="/contact-us"><button class="container_main_btn muli_bold promote_section_btn">Contact us</button></a></div>
    </div>

    {{>footer}}
</body>
<script src="https://kit.fontawesome.com/0b090846fe.js" crossorigin="anonymous"></script>
<script src="js/coffee_in_cafe.js"></script>
</html>