<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coffee in Vending</title>
    <link rel="shortcut icon" href="images/logo2.png" type="image/x-icon">
    <link rel="stylesheet" href="css/coffee_in_vending.css">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="https://use.typekit.net/mkj0qph.css">
</head>

<body>
    {{>navbar}}

    {{>intro_section}}

    <div class="new_vending_section">
        <div class="new_vending_section_headings section_main_headings">
            <h1 class="playfair_display_600">Meet the new vending</h1>
            <p class="muli_regular_300">We carry vending machines from the best manufactures around the world.</p>
            <div class="vertical_border bread_color"></div>
        </div>

        <div class="new_vending_section_content we_serve_section_cards">
            <div class="card we_serve_section_card_left">
                <img src="images/on_the_go_coffee_address.jpg" alt="Home Office">

                <div class="we_serve_section_cards_headings">
                    <h1 class="playfair_display_600">Coffee Address</h1>
                    <p class="muli_regular_300">Discover enticing flavors, smells and colors in our carefully crafted
                        blends of coffee.</p>
                </div>
            </div>

            <div class="card we_serve_section_card_right">
                <img src="images/Lavazza_vending.jpg" alt="Home Office">

                <div class="we_serve_section_cards_headings">
                    <h1 class="playfair_display_600">ATLAS by Coffee Address</h1>
                    <p class="muli_regular_300">Our top-of the-crop finest blends - a sensory journey around the best
                        coffees of the world.</p>
                </div>
            </div>
            <div class="card we_serve_section_card_left">
                <img src="images/CA_Coffee_in_vending_ATLAS@2x.png" alt="Home Office">

                <div class="we_serve_section_cards_headings">
                    <h1 class="playfair_display_600">Lavazza Expert Range</h1>
                    <p class="muli_regular_300">The right selection of coffee beans is chosen to produce a high-quality
                        espresso-based drinks. The organoleptic properties of the selected coffees remain intact right
                        until they are dispensed, even after prolonged periods in the vending and automatic coffee
                        machines.</p>
                </div>
            </div>
            <div class="card we_serve_section_card_right">
                <img src="images/on_the_go_coffee_vending.jpg" alt="Home Office">

                <div class="we_serve_section_cards_headings">
                    <h1 class="playfair_display_600">Kimbo Espresso Bar</h1>
                    <p class="muli_regular_300">Each Espresso bar blend has its own unique flavour profile and
                        personality. Discover your favourite and get yourself lost in the authentic taste of Naples.</p>
                </div>
            </div>
        </div>
    </div>
    

    <div class="cashless_payments_section">
        <div class="cashless_payments_section_headings section_main_headings">
            <h1 class="playfair_display_600">Cashless payments</h1>
            <p class="muli_regular_300">We offer credit card and mobile payment solutions via PayPal and Monyx in selected vending machines throughout Baltics and are rolling out cashless payment solutions to 100% of our operated vending machines.</p>
            <div class="vertical_border bread_color"></div>
        </div>

        <div class="cashless_payments_section_logos">
            <p>
                <img src="images/pay_mastercard.png" alt="Master Card">
                <img src="images/pay_visa.png" alt="Visa">
                <img src="images/pay_paypal.png" alt="Paypal">
                <img src="images/pay_monyx.png" alt="Monyx">
                <img src="images/Apple_Pay_Mark_RGB_041619.png" alt="Apple Pay">
                <img src="images/Page-1.png" alt="G Pay">
                <img src="images/Group 283.png" alt="Samsung Pay">
            </p>
        </div>
    </div>


    <div class="solutions_section">
        <div class="solution_section_headings section_main_headings">
            <h1 class="playfair_display_600">Solution for every need</h1>
            <p class="muli_regular_300">Whatever sector you are in we have a solution for you.</p>
            <div class="vertical_border bread_color"></div>
        </div>

        <div class="solutions_section_content">
            
            <li class="remove_li_style muli_regular_300">
                <div class="solution_section_content_li_inner_container">
                   <span><img src="images/Airports_public_transportation.png" alt="Airport Public Transportation"></span>
                   <p>Airports &#38; public transportation</p>
               </div> 
            </li>
            <li class="remove_li_style muli_regular_300">
                <div class="solution_section_content_li_inner_container">
                   <span><img src="images/Logistics.png" alt="Logistics"></span>
                   <p>Logistics</p>
               </div> 
            </li>
            <li class="remove_li_style muli_regular_300">
                <div class="solution_section_content_li_inner_container">
                   <span><img src="images/Service_sector.png" alt="Service Sector"></span>
                   <p>Service sector</p>
               </div> 
            </li>
            <li class="remove_li_style muli_regular_300">
                <div class="solution_section_content_li_inner_container">
                   <span><img src="images/Healthcare_institutions.png" alt="Healthcare Institutions"></span>
                   <p>Healthcare institutions</p>
               </div> 
            </li>

            <li class="remove_li_style muli_regular_300">
               <div class="solution_section_content_li_inner_container">
                   <span><img src="images/Group_273_2.png" alt="Shopping Centers"></span>
                   <p>Shopping centers</p>
               </div> 
            </li>

            <li class="remove_li_style muli_regular_300">
                <div class="solution_section_content_li_inner_container">
                   <span><img src="images/Schools_universities.png" alt="Schools and Universities"></span>
                   <p>Schools &#38; universities</p>
               </div> 
            </li>
        </div>
    </div>

    <div class="promote_section">
        <div class="text playfair_display_300">Book a free coffee tasting and demonstration.</div>
        <div class="btn"><a href="/contact-us"><button class="container_main_btn muli_bold promote_section_btn">Contact us</button></a></div>
    </div>

    {{>footer}}
</body>
<script src="js/coffee_in_vending.js"></script>
<script src="https://kit.fontawesome.com/0b090846fe.js" crossorigin="anonymous"></script>

</html>