<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coffee Machines</title>
    <link rel="shortcut icon" href="images/logo2.png" type="image/x-icon">
    <link rel="stylesheet" href="css/coffee_machines.css">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="https://use.typekit.net/mkj0qph.css">
</head>
<body>
    {{>navbar}}

    <div class="our_coffee_navigation">
        <div class="our_coffee_navigation_items_container">
            <a href="#small" class="remove_text_decoration">
            <div class="our_coffee_navigation_item small item_active">
                <img src="images/c_machine_small1.png" alt="Small">
                <p class="muli_regular_300">Small</p>
            </div>
            </a>

            <a href="#medium" class="remove_text_decoration">
            <div class="our_coffee_navigation_item medium">
                <img src="images/c_machine_medium1.png" alt="Medium">
                <p class="muli_regular_300">Medium</p>
            </div>
            </a>

            <a href="#large" class="remove_text_decoration">
            <div class="our_coffee_navigation_item large">
                <img src="images/c_machine_large1.png" alt="Large">
                <p class="muli_regular_300">Large</p>
            </div>
            </a>

        </div>
    </div>

    {{>intro_section}}

    <div class="coffee_machines_section">

        <div class="small inner_navigation_section" id="small">
            <div class="coffee_machines_section_headings section_main_headings">
                <h1 class="playfair_display_600">Small</h1>
                <p class="muli_regular_300">15 to 30 employees</p>
                <div class="vertical_border bread_color"></div>
            </div>

            <div class="we_serve_section_cards our_coffee_cards">
            <div class="card we_serve_section_card_left">
                <div class="img_div">
                <img src="images/c_machine_small1.png" alt="Jura X8">
                </div>

                <div class="we_serve_section_cards_headings">
                    <h1 class="playfair_display_600">Jura X8</h1>
                    <p class="muli_regular_300">Capacity: 60-80 daily cups The latest high-performance X8 with its elegant finish allows you to customize for any specialty coffees such as a flat white. The six-level Aroma G3 grinder ensures that the coffee is quickly yet gently ground. The Pulse Extaction Process (P.E.P.®) optimises the extraction time by forcing hot water through the ground coffee at short intervals. Easy to care for with integrated rinsing, cleaning and descaling programmes.</p>
                </div>
            </div>

            <div class="card we_serve_section_card_left">
                <div class="img_div">
                <img src="images/c_machine_small2.png" alt="Jura WE8">
                </div>

                <div class="we_serve_section_cards_headings">
                    <h1 class="playfair_display_600">Jura WE8</h1>
                    <p class="muli_regular_300">Capacity: 10-30 daily cups Anyone who appreciates the finer things in life, a wide choice of speciality coffees and aesthetics will love the WE8. The One-Touch function creates trend specialities like latte macchiato, flat white or cappuccino very simply at the touch of a button. Buttons on the front of the machine and a modern TFT display make operation incredibly simple.</p>
                </div>
            </div>
            <div class="card we_serve_section_card_left">
                <div class="img_div">
                <img src="images/c_machine_small3.png" alt="Koro Prime Max">
                </div>

                <div class="we_serve_section_cards_headings">
                    <h1 class="playfair_display_600">Koro Prime Max</h1>
                    <p class="muli_regular_300">Capacity: 15-40 daily cups Koro Prime Max offers excellent, full-bodied espresso at the optimum extraction temperature and exquisite mixed beverages, including a wonderful cappuccino with a long-lasting, creamy top. The small door positioned at the top of the machine allows for decaffeinated to be served. Excellent coffee with the perfect extraction according to the parameters of the best Italian espresso.</p>
                </div>
            </div>
            <div class="card we_serve_section_card_left">
                <div class="img_div">
                <img src="images/c_machine_small4.png" alt="Korinto Prime">
                </div>

                <div class="we_serve_section_cards_headings">
                    <h1 class="playfair_display_600">Korinto Prime</h1>
                    <p class="muli_regular_300">Capacity: 30-60 daily cups Korinto Prime offers a professional level of performance, optimising high quality drinks and ease of operation. The high capacity canister also results in the machine’s ability to dispense drinks at a consistent and impressive hourly rate throughout the day.</p>
                </div>
            </div>
            <div class="card we_serve_section_card_left">
                <div class="img_div">
                <img src="images/c_machine_small5.png" alt="Solista">
                </div>

                <div class="we_serve_section_cards_headings">
                    <h1 class="playfair_display_600">Solista</h1>
                    <p class="muli_regular_300">Capacity: 40-120 daily cups Solista is the latest addition to Necta table-top range. With its sleek design, high capacity level and leading-edge technological performance, it is a machine for aficionados. Also, Z4000 and Freemix technology delivers freshly ground espresso coffee and espresso-based drinks. Main internal components have been colour coded for easy maintenance.</p>
                </div>
            </div>
        </div>
        </div>

    <div class="medium inner_navigation_section" id="medium">
            <div class="coffee_machines_section_headings section_main_headings">
                <h1 class="playfair_display_600">Medium</h1>
                <p class="muli_regular_300">30 to 50 employees</p>
                <div class="vertical_border bread_color"></div>
            </div>

            <div class="we_serve_section_cards our_coffee_cards">
            <div class="card we_serve_section_card_left">
                <div class="img_div">
                <img src="images/c_machine_medium1.png" alt="Franke A400">
                </div>

                <div class="we_serve_section_cards_headings">
                    <h1 class="playfair_display_600">Franke A400</h1>
                    <p class="muli_regular_300">Capacity: 70-100 daily cups As a truly smart coffee machine, the A400 creates a dialog between person and machine. Thanks to seamless interaction and superb efficiency, the machine knows what the customer wants – and delivers it in premium quality.</p>
                </div>
            </div>

            <div class="card we_serve_section_card_left">
                <div class="img_div">
                <img src="images/c_machine_medium2.png" alt="Franke A600">
                </div>

                <div class="we_serve_section_cards_headings">
                    <h1 class="playfair_display_600">Franke A600</h1>
                    <p class="muli_regular_300">Capacity: 100-150 daily cups As a truly intelligent coffee machine, the A600 redefines convenience. Enormously flexible, the A600’s self-service capabilities dramatically improve efficiency in professional use. The color touchscreen with crystal clear resolution is the perfect interface for you. Intuitive menu prompts result in straightforward, efficient operation. The selection of beverages can be set individually and adapted to your exact requirements.</p>
                </div>
            </div>
            
        </div>
        </div>

        <div class="large inner_navigation_section" id="large">
            <div class="coffee_machines_section_headings section_main_headings">
                <h1 class="playfair_display_600">Large</h1>
                <p class="muli_regular_300">More than 100 employees</p>
                <div class="vertical_border bread_color"></div>
            </div>

            <div class="we_serve_section_cards our_coffee_cards">
            <div class="card we_serve_section_card_left">
                <div class="img_div">
                <img src="images/c_machine_large1.png" alt="Franke A800">
                </div>

                <div class="we_serve_section_cards_headings">
                    <h1 class="playfair_display_600">Franke A800</h1>
                    <p class="muli_regular_300">Capacity: 150-200 daily cups Do you need to brew a perfect espresso, foam some milk, and prepare a hot tea all at the same time? The professional three-boiler system can handle this with ease. The integrated FoamMaster technology means that even the basic model lets you whip up perfectly consistent cold and hot brews.</p>
                </div>
            </div>

            <div class="card we_serve_section_card_left">
                <div class="img_div">
                <img src="images/c_machine_large2.png" alt="Schaerer Coffee Soul">
                </div>

                <div class="we_serve_section_cards_headings">
                    <h1 class="playfair_display_600">Schaerer Coffee Soul</h1>
                    <p class="muli_regular_300">You can effortlessly demonstrate the whole repertoire of coffee preparation on the Schaerer Coffee Soul and serve your guests the best coffee experience every time. The compact fully automatic coffee machine is based on a newly developed platform and offers advanced Schaerer technology packed in an exceptionally attractive restaurant-style design. The 8"- or 10.4” touch display draws all eyes to it. It whets the appetite for tasty coffee specialities and makes operation incredibly easy – for you and your employees or for self-service. With an output of up to 250 cups a day and the Best Foam milk system integrated by default, the Coffee Soul is a top-class coffee machine and is therefore ideal for discerning restaurants, bars or high-quality coffee provision in offices or premium vending services.</p>
                </div>
            </div>

            <div class="card we_serve_section_card_left">
                <div class="img_div">
                <img src="images/c_machine_large3.png" alt="Franke A1000">
                </div>

                <div class="we_serve_section_cards_headings">
                    <h1 class="playfair_display_600">Franke A1000</h1>
                    <p class="muli_regular_300">Capacity: 250 daily cups The A1000 was created to give your very own little moment of luxury. No matter what your favourite coffee might be, the A1000 can fulfill every wish so that you can try something different every single day. The A1000 also includes the FoamMaster for hot and cold milk, a hands-free milk cleaning system and a fully automatic CleanMaster system.</p>
                </div>
            </div>
            
        </div>
        </div>

    </div>

    <div class="promote_section">
        <div class="text playfair_display_300">Book a free coffee tasting and demonstration.</div>
        <div class="btn"><button class="container_main_btn muli_bold promote_section_btn">See Our Coffee</button></div>
    </div>
    {{>footer}}
</body>
<script src="https://kit.fontawesome.com/0b090846fe.js" crossorigin="anonymous"></script>
<script src="js/coffee_machines.js"></script>
</html>