<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/logo2.png" type="image/x-icon">
    <title>Cookie Policy</title>
    <link rel="stylesheet" href="css/privacy_policy.css">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="https://use.typekit.net/mkj0qph.css">
</head>
<body>
    
    {{>navbar}}

    <div class="privay_policy_section">
        
        <div class="privacy_policy_section_headings">
            <h2 class="playfair_display_300">COFFEE ADDRESS COOKIES POLICY</h2>
            <h3 class="playfair_display_300">Version updated on January 25th 2019</h3>
        </div>

        <div class="privacy_policy_section_content">
            <li class="muli_regular_300">
                <h4>What are Cookies?</h4>
                <p>Cookies are information units sent by a website to a web browser. The browser records them in the cookies’ file saved on a hard drive of a computer. Cookies allow visitors to navigate through the website and (in respective cases) allow the website manager to adjust the created contents to the needs of the website visitors and improve the result of activities performed by the users. If the cookies function is not enabled, we are unable to ensure accurate operation of the website and conformity of activities performed by the visitors to our intent. Cookies used on our website do not collect personal information about the users and they cannot be used for identification of a computer user. In individual cases some of the analytical cookies, in accordance with our instructions and only for the specified purposes, are managed by the third parties, for example, Google Analytics.</p>
            </li>
            <li class="muli_regular_300">
                <h4>Cookies used on this website are used as follows:</h4>
                <p>1.2.1. We use cookies to protect our clients and eliminate fraudulent activities. If the cookies function is not enabled, a computer user will not be able to access this website online.
                1.2.2. We use cookies in our online application forms. If the cookies function is not enabled, a computer user will not be able to apply for and/or use our services.
                1.2.3. We use cookies also in order to find out how users reach our website and to find out their navigation route on the website, — it allows us to improve the quality of services provided to you. For example, we use Google Analytics — a popular web activity analysis service provided by the Google corporation. Google Analytics uses cookies helping us to analyse how visitors use our website. More information about the use of these cookies is available on the Google Privacy website.
                1.2.4. We use targeting (advertising) cookies to collect information about websites visited by the user and offer to the user our services or services of our co-operation partners that the user is interested in or to address offers that conform to the interest shown by the user. Usually these cookies with our consent according to specified purposes are placed by third parties, for example, Google Analytics. Targeting cookies are stored in the user’s terminal equipment permanently.
                1.2.5. We use cookies for supervision and management of data flow of the website. 1.2.6. We use cookies also in order to identify the operational efficiency of the advertising campaigns and stimuli offered on our website. It helps us to improve design and structure of the website, the range of offers and stimuli.</p>
            </li>
            <li class="muli_regular_300">
                <h4>Two types of cookies are used on the website:</h4>
                <p> Session cookies. These are temporary cookies that operate only when a computer user accesses a website (or, more precisely, until the moment when the user leaves the website and closes a browser). Session cookies help our website to remember activities performed by the user in the previous page, hence eliminating a necessity to re-enter information.
                1.3.2. Persistent cookies. Persistent cookies remain in the visitor’s computer after visiting our website. These cookies help us to identify you as a unique visitor (saving this information as a number generated according to a random principle). The retention period of a cookie in the user’s computer will depend on a type of a cookie.</p>
            </li>
            <li class="muli_regular_300">
                <h4>Consent to cookies</h4>
                <p> Before you start using our website, we must receive your consent to cookies. There is a pop-up window on our website for this purpose that informs you about the use of the cookies and asks you to provide your consent to them. By continuing to use this website you are giving consent to cookies being used.</p>
            </li>
            <li class="muli_regular_300">
                <h4>Control and deletion of cookies.</h4>
                <p> We do not use cookies to collect personal information about the user. If you wish though to restrict activity of the cookies or block them
                on our website or on any other website, it may be done by changing settings of the web browser. In order to find out more about this possibility, please use the browser function “Help”. Please consult your mobile device manual to find out how to delete cookies from your mobile device browser.</p>
            </li>
        </div>

    </div>

    {{>footer}}

</body>
<script src="https://kit.fontawesome.com/0b090846fe.js" crossorigin="anonymous"></script>
<script src="js/privacy_policy.js"></script>
</html>