<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/logo2.png" type="image/x-icon">
    <title>Customer Support</title>
    <link rel="stylesheet" href="css/customer_support.css">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="https://use.typekit.net/mkj0qph.css">
</head>
<body>

    {{>navbar}}

    {{>intro_section}}

    <div class="offices_section">
        <div class="section_main_headings offices_section_headings">
            <h1 class="playfair_display_600">Offices in <select name="office" class="offices_select_btn" id="offices_select_btn">
                <option value="1" selected>Lithuania</option>
                <option value="2">Latvia</option>
                <option value="3">Estonia</option>
            </select> </h1>
            <div class="vertical_border bread_color"></div>
        </div>

        <div class="offices_address">
            <div class="first">

                <div class="offices_name">
                    <h3 class="playfair_display_300">Office in Vilnius</h3>
                    <div class="horizontal_border bread_color"></div>
                </div>

                <div class="address muli_regular_300">
                    <p>Parko g. 39, Avižieniai LT-14198 Vilniaus raj.</p>
                </div>

                <div class="email">
                    <a href="mailto: muhammadtayyab3411@gmail.com" class="remove_text_decoration">info@coffeeshop.com</a>
                </div>

            </div>


            <div class="first">

                <div class="offices_name">
                    <h3 class="playfair_display_300">Office in Kaunas</h3>
                    <div class="horizontal_border bread_color"></div>
                </div>

                <div class="address muli_regular_300">
                    <p>Taikos pr. 129D, LT-51126 Kaunas</p>
                </div>

                <div class="email">
                    <a href="mailto: muhammadtayyab3411@gmail.com" class="remove_text_decoration">info@coffeeshop.com</a>
                </div>
            </div>

            <div class="first">

                <div class="offices_name">
                    <h3 class="playfair_display_300">Office in Klaipeda</h3>
                    <div class="horizontal_border bread_color"></div>
                </div>

                <div class="address muli_regular_300">
                    <p>Svajonės g. 21, LT-94101 Klaipėda</p>
                </div>

                <div class="email">
                    <a href="mailto: muhammadtayyab3411@gmail.com" class="remove_text_decoration">info@coffeeshop.com</a>
                </div>
            
            </div>

            <div class="first">

                <div class="offices_name">
                    <h3 class="playfair_display_300">Office in Siauliai</h3>
                    <div class="horizontal_border bread_color"></div>
                </div>

                <div class="address muli_regular_300">
                    <p>Spanguolių g. 5 LT-77106 Šiauliai</p>
                </div>

                <div class="email">
                    <a href="mailto: muhammadtayyab3411@gmail.com" class="remove_text_decoration">info@coffeeshop.com</a>
                </div>

            </div>

            <div class="first">

                <div class="offices_name">
                    <h3 class="playfair_display_300">Office in Panevezys</h3>
                    <div class="horizontal_border bread_color"></div>
                </div>

                <div class="address muli_regular_300">
                    <p>K.Naruševičiaus g. 2 LT-38367 Panevėžys</p>
                </div>

                <div class="email">
                    <a href="mailto: muhammadtayyab3411@gmail.com" class="remove_text_decoration">info@coffeeshop.com</a>
                </div>
            </div>

            <div class="second">

                <div class="offices_name">
                    <h3 class="playfair_display_300">Office in Riga</h3>
                    <div class="horizontal_border bread_color"></div>
                </div>

                <div class="address muli_regular_300">
                    <p>Mūkusalas 42, B ieeja Rīga, LV-1004</p>
                </div>

                <div class="email">
                    <a href="mailto: muhammadtayyab3411@gmail.com" class="remove_text_decoration">info@coffeeshop.com</a>
                </div>
            </div>


            <div class="third">

                <div class="offices_name">
                    <h3 class="playfair_display_300">Office in Tallinn</h3>
                    <div class="horizontal_border bread_color"></div>
                </div>

                <div class="address muli_regular_300">
                    <p>Osmussaare tee 5/ Taevakivi 1, 13811 Tallinn</p>
                </div>

                <div class="email">
                    <a href="mailto: muhammadtayyab3411@gmail.com" class="remove_text_decoration">info@coffeeshop.com</a>
                </div>
            </div>
        </div>
    </div>

    <div class="promote_section">
        <div class="text playfair_display_300">Need Help?</div>
        <div class="btn"><a href="/contact-us"><button class="container_main_btn muli_bold promote_section_btn">Contact us</button></a></div>
    </div>

    {{>footer}}
    
</body>
<script src="https://kit.fontawesome.com/0b090846fe.js" crossorigin="anonymous"></script>
<script src="js/customer_support.js"></script>
</html>