<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/logo2.png" type="image/x-icon">
    <title>FAQ</title>
    <link rel="stylesheet" href="css/faq.css">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="https://use.typekit.net/mkj0qph.css">
</head>
<body>
    {{>navbar}}

    {{>intro_section}}

    <div class="faqs_section">
        <div class="faqs_topic_section">
            <div class="faqs_selection_btn_div">
                <p class="muli_regular_300">Please Select Topic</p>
                <select name="office" class="faqs_select_btn" id="faqs_select_btn">
                    <option value="1" selected>General Questions</option>
                    <option value="2">At the office</option>
                    <option value="3">On the go</option>
                    <option value="4">Sales</option>
                    <option value="5">Services</option>
                </select>
            </div>

            <div class="promote_section">
                <div class="text playfair_display_300">Still can not find an answer? Contact us</div>
                <div class="btn"><a href="/contact-us"><button class="container_main_btn muli_bold promote_section_btn">Contact us</button></a></div>
            </div>
        </div>

        <div class="faqs_q_and_a_section">
            <div class="first">

            <hr>
            <button type="button" class="collapsible muli_regular_600">what kind of product range do you have?</button>
            <div class="content">
                <p class="muli_regular_300">We are a coffee company so we offer a wide selection of coffee for every type of coffee enthuasist. You can find our current offering and other products in our catalogue here. We also have best-in-class coffee machines both for the office and for bigger venues.</p>
            </div>

            <hr>
            <button type="button" class="collapsible muli_regular_600">What is included in the rental of the coffee machine?</button>
            <div class="content">
                <p class="muli_regular_300">
                    <li class="muli_regular_300">Machine Setup</li>
                    <li class="muli_regular_300">Machine servicing and preventive maintenance</li>
                    <li class="muli_regular_300">6-8 hour response on the machine breakdowns</li>
                    <li class="muli_regular_300">Regular coffee and sundry refills </li>
                    <li class="muli_regular_300">Personal account manager </li>
                    <li class="muli_regular_300">Staff training</li>
                </p>
            </div>


                    <hr>
                    <button type="button" class="collapsible muli_regular_600">Where do you deliver?</button>
                    <div class="content">
                        <p class="muli_regular_300">We deliver anywhere in the country. Please note our terms of delivery.</p>
                    </div>

                    <hr>
                    <button type="button" class="collapsible muli_regular_600">Terms of delivery for orders</button>
                    <div class="content">
                        <p class="muli_regular_300">Coming soon</p>
                    </div>

                    <hr>
                    <button type="button" class="collapsible muli_regular_600">How long does it take for an order to be delivered?</button>
                    <div class="content">
                        <p class="muli_regular_300">Fulfillment of order can take up to 3 business days.</p>
                    </div>

                    <hr>
                    <button type="button" class="collapsible muli_regular_600">What is included in the coffee machine service?</button>
                    <div class="content">
                        <p class="muli_regular_300">Service includes one monthly technical maintenance. Machine repairs and issues are reported seperately. You can do that here.</p>
                    </div>

                    <hr>
                    <button type="button" class="collapsible muli_regular_600">Price list</button>
                    <div class="content">
                        <p class="muli_regular_300">Coming soon</p>
                    </div>

                    <hr>
                    <button type="button" class="collapsible muli_regular_600">General conditions</button>
                    <div class="content">
                        <p class="muli_regular_300">Coming soon</p>
                    </div>

                    <hr>
                    <button type="button" class="collapsible muli_regular_600">I'm a private individual. Where can I buy your coffee?</button>
                    <div class="content">
                        <p class="muli_regular_300">You can buy coffee directly from our offices by paying with cash only.</p>
                    </div>

                    <hr>
                    <button type="button" class="collapsible muli_regular_600">Is it possible to buy used machines?</button>
                    <div class="content">
                        <p class="muli_regular_300">No, we don't sell used machines.</p>
                    </div>

                    <hr>
                    <button type="button" class="collapsible muli_regular_600">I want to terminate the contract. What should I do?</button>
                    <div class="content">
                        <p class="muli_regular_300">Please check your contract for your specific termination conditions.</p>
                    </div>

            </div>

            <div class="second">

                <hr>
                    <button type="button" class="collapsible muli_regular_600">Do you service clients also in the regions (outside of the capital)?</button>
                    <div class="content">
                        <p class="muli_regular_300">Yes, we cover all of Lithuania.</p>
                    </div>

                    <hr>
                    <button type="button" class="collapsible muli_regular_600">The machine is displaying "Waist container is full". What does this mean?</button>
                    <div class="content">
                        <p class="muli_regular_300">The machine's coffee ground storage is full. Follow the machine's instructions to remove the container, empty the container, and place it back into the machine as indicated in instructions.</p>
                    </div>

                    <hr>
                    <button type="button" class="collapsible muli_regular_600">How do I descale the machine?</button>
                    <div class="content">
                        <p class="muli_regular_300">Please contact our Service Maintenance team and we'll find a solution. Please refer your machine's water filter instructions to avoid scaling in the future.</p>
                    </div>

                    <hr>
                    <button type="button" class="collapsible muli_regular_600">The machine is asking to change the water filter. What to do?</button>
                    <div class="content">
                        <p class="muli_regular_300">Please follow machine instructions on how to change the water filter. If you have already used your reserve filter in reserve, you can order a new one either through our online order form or by calling us. If you have a Franke machine, please get in touch and we will come and change the filter.</p>
                    </div>

            </div>


            <div class="third">

                <hr>
                    <button type="button" class="collapsible muli_regular_600">The machine took my money but didn't give me the product. What should I do?</button>
                    <div class="content">
                        <p class="muli_regular_300">If you've paid with a credit card, please submit an application that includes the place, date and time, as well as attach a bank statement copy that shows the charged amount. Please also indicate the first and last 4 digits of your credit card along with a bank account to which we can return money to. If you' ve paid with cash, please call us so we can find the most optimal solution at your convenience.</p>
                    </div>

                    <hr>
                    <button type="button" class="collapsible muli_regular_600">My selected product got stuck. What should I do?</button>
                    <div class="content">
                        <p class="muli_regular_300">Please contact us so we can double check the problem and will return you your selected product. Due to rules and regulations, we can't return charged money.</p>
                    </div>

                    <hr>
                    <button type="button" class="collapsible muli_regular_600">I've selected an empty slot by accident. What do I do?</button>
                    <div class="content">
                        <p class="muli_regular_300">Please give us a call so we can find the most optimal solution.</p>
                    </div>

                    <hr>
                    <button type="button" class="collapsible muli_regular_600">Do you provide a full on-the-go vending service in the regions?</button>
                    <div class="content">
                        <p class="muli_regular_300">We currently cover Ogre, Jelgava, Liepāja and Liepāja region.</p>
                    </div>

            </div>


            <div class="fourth">

                <hr>
                    <button type="button" class="collapsible muli_regular_600">I want to rent a coffee machine for the office. Who should I contact?</button>
                    <div class="content">
                        <p class="muli_regular_300">You can contact us by filling out the form here or by calling our office.</p>
                    </div>

                    <hr>
                    <button type="button" class="collapsible muli_regular_600">Can an individual buy goods?</button>
                    <div class="content">
                        <p class="muli_regular_300">Yes, individuals can purchase goods directly from our office. Please note that you can only pay with cash.</p>
                    </div>

                    <hr>
                    <button type="button" class="collapsible muli_regular_600">Can we pay for goods with cash?</button>
                    <div class="content">
                        <p class="muli_regular_300">Yes, you can but only at our offices.</p>
                    </div>

            </div>


            <div class="fifth">

                <hr>
                    <button type="button" class="collapsible muli_regular_600">Do you offer machine service and maintenance for clients?</button>
                    <div class="content">
                        <p class="muli_regular_300">Yes, as part of the contract, we make technical maintenance service visits once a month. If you want more than once a month, this will cost more so please talk to your manager who then can contact us. If you'd like to report a technical problem, please fill out the form here.</p>
                    </div>

                    <hr>
                    <button type="button" class="collapsible muli_regular_600">When will you come to clean the machine?</button>
                    <div class="content">
                        <p class="muli_regular_300">The responsibility of daily maintenance and cleaning of office coffee machines is on the part of the clients. As part of the contract, we offer one monthly technical maintenance service visit, which we coordinate no more than two days before the visit for the date agreed upon before hand. We take care of vending machines on a daily basis.</p>
                    </div>

                    <hr>
                    <button type="button" class="collapsible muli_regular_600">When will you come to repair the machine?</button>
                    <div class="content">
                        <p class="muli_regular_300">It can take up to two business days from the moment you have reported the problem. If you'd like to report a technical problem, please fill out the form here.</p>
                    </div>

                    <hr>
                    <button type="button" class="collapsible muli_regular_600">Do you offer more than one service visit per month? Does this cost extra?</button>
                    <div class="content">
                        <p class="muli_regular_300">We offer service visits outside of the limits set in the contract at additional cost. You can report your problem by filling out the form here. We’ll contact you regarding the price and timing of the visit. If you don't have a contract with us, please contact us to find out if we can help with your particular machine.</p>
                    </div>

                    <hr>
                    <button type="button" class="collapsible muli_regular_600">We want to move our coffee machine from one of our offices to another. Can we do this by ourselves?</button>
                    <div class="content">
                        <p class="muli_regular_300">No, you can't move the machine on your own. Please contact us and we will coordinate the possible move.</p>
                    </div>

            </div>


        </div>
    </div>

    {{>footer}}
</body>
<script src="https://kit.fontawesome.com/0b090846fe.js" crossorigin="anonymous"></script>
<script src="js/faq.js"></script>
</html>