<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/logo2.png" type="image/x-icon">
    <link rel="stylesheet" href="css/our_coffee.css">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="https://use.typekit.net/mkj0qph.css">
    <title>Our Coffee</title>
</head>
<style>
</style>
<body>
    {{>navbar}}

    <div class="our_coffee_navigation">
        <div class="our_coffee_navigation_items_container">
            <a href="#coffee_address" class="remove_text_decoration">
            <div class="our_coffee_navigation_item coffee_address item_active">
                <img src="images/coffee1.png" alt="">
                <p class="muli_regular_300">Coffee Address</p>
            </div>
            </a>

            <a href="#atlas" class="remove_text_decoration">
            <div class="our_coffee_navigation_item atlas">
                <img src="images/coffee6.png" alt="Atlas">
                <p class="muli_regular_300">Atlas</p>
            </div>
            </a>

            <a href="#lavazza" class="remove_text_decoration">
            <div class="our_coffee_navigation_item lavazza">
                <img src="images/coffee8.png" alt="Lavazza">
                <p class="muli_regular_300">Lavazza</p>
            </div>
            </a>

            <a href="#kimbo" class="remove_text_decoration">
            <div class="our_coffee_navigation_item kimbo">
                <img src="images/coffee11.png" alt="Kimbo">
                <p class="muli_regular_300">Kimbo</p>
            </div>
            </a>
        </div>
    </div>

    {{>intro_section}}

    <div class="our_coffee_section">
        <div class="our_coffee_section_headings section_main_headings">
            <h1 class="playfair_display_600">Our Coffee</h1>
            <p class="muli_regular_300">We have carefully selected great tasting coffees from around the world.</p>
            <div class="vertical_border bread_color"></div>
        </div>

    <div class="coffee_address inner_navigation_section" id="coffee_address">

        <div class="our_coffee_section_secondary_headings section_main_headings">
            <h1 class="playfair_display_600">Coffee Address</h1>
            <div class="vertical_border bread_color"></div>
        </div>

        <div class="we_serve_section_cards our_coffee_cards">
            <div class="card we_serve_section_card_left">
                <div class="img_div">
                <img src="images/coffee1.png" alt="Arabica Classic">
                </div>

                <div class="we_serve_section_cards_headings">
                    <h1 class="playfair_display_600">100% Arabica Classic</h1>
                    <p class="muli_regular_300">A carefully roasted well balanced coffee with a smooth body, caramel and fruity notes.</p>
                </div>
            </div>

            <div class="card we_serve_section_card_right">
                <div class="img_div">
                <img src="images/coffee2.png" alt="Delizioso Dolce">
                </div>

                <div class="we_serve_section_cards_headings">
                    <h1 class="playfair_display_600">Delizioso Dolce</h1>
                    <p class="muli_regular_300">A medium roasted coffee blend with silky body, notes of chocolate and toffee.</p>
                </div>
            </div>
            <div class="card we_serve_section_card_left">
                <div class="img_div">
                <img src="images/coffee3.png" alt="Delizioso Forte">
                </div>

                <div class="we_serve_section_cards_headings">
                    <h1 class="playfair_display_600">Delizioso Forte</h1>
                    <p class="muli_regular_300">The elegant coffee blend with medium body, notes of spices and nuts.</p>
                </div>
            </div>
            <div class="card we_serve_section_card_right">
                <div class="img_div">
                <img src="images/coffee4.png" alt="Delizioso Espresso">
                </div>

                <div class="we_serve_section_cards_headings">
                    <h1 class="playfair_display_600">Delizioso Espresso</h1>
                    <p class="muli_regular_300">A medium roasted coffee blend with a creamy body, notes of chocolate and touch of spices.</p>
                </div>
            </div>
            <div class="card we_serve_section_card_left">
                <div class="img_div">
                <img src="images/coffee5.png" alt="Delizioso Ricco">
                </div>

                <div class="we_serve_section_cards_headings">
                    <h1 class="playfair_display_600">Delizioso Ricco</h1>
                    <p class="muli_regular_300">A dark roasted coffee blend with round body and rich taste of chocolate with notes of berry.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="atlas inner_navigation_section" id="atlas">

        <div class="our_coffee_section_secondary_headings section_main_headings">
            <h1 class="playfair_display_600">Atlas</h1>
            <div class="vertical_border bread_color"></div>
        </div>

        <div class="we_serve_section_cards our_coffee_cards">
            <div class="card we_serve_section_card_left">
                <div class="img_div">
                <img src="images/coffee6.png" alt="Premium Golden Crema">
                </div>

                <div class="we_serve_section_cards_headings">
                    <h1 class="playfair_display_600">Premium Golden Crema</h1>
                    <p class="muli_regular_300">A lightly roasted coffee with a juicy acidity and notes of citrus and dry fruits.</p>
                </div>
            </div>

            <div class="card we_serve_section_card_right">
                <div class="img_div">
                <img src="images/coffee7.png" alt="Premium Espresso UTZ">
                </div>

                <div class="we_serve_section_cards_headings">
                    <h1 class="playfair_display_600">Premium Espresso UTZ</h1>
                    <p class="muli_regular_300">A medium roasted coffee with a smooth body, floral and fruity notes.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="lavazza inner_navigation_section" id="lavazza">
        <div class="our_coffee_section_secondary_headings section_main_headings">
            <h1 class="playfair_display_600">Lavazza</h1>
            <div class="vertical_border bread_color"></div>
        </div>

        <div class="we_serve_section_cards our_coffee_cards">
            <div class="card we_serve_section_card_left">
                <div class="img_div">
                <img src="images/coffee8.png" alt="Aroma Top">
                </div>

                <div class="we_serve_section_cards_headings">
                    <h1 class="playfair_display_600">Aroma Top</h1>
                    <p class="muli_regular_300">A rounded blend, with fine acidity and notes of cereal. Coffee selection from Rainforest Alliance certified agricultural farms.</p>
                </div>
            </div>

            <div class="card we_serve_section_card_right">
                <div class="img_div">
                <img src="images/coffee9.png" alt="Aroma Piu">
                </div>

                <div class="we_serve_section_cards_headings">
                    <h1 class="playfair_display_600">Aroma Piu</h1>
                    <p class="muli_regular_300">A blend of coffees with a velvety cream and a persistent aroma. Scents of honey and almond for a sweet, creamy espresso.</p>
                </div>
            </div>

            <div class="card we_serve_section_card_left">
                <div class="img_div">
                <img src="images/coffee10.png" alt="Crema & Aroma">
                </div>

                <div class="we_serve_section_cards_headings">
                    <h1 class="playfair_display_600">Crema & Aroma</h1>
                    <p class="muli_regular_300">A blend with a rich, dense crema and a bold character.</p>
                </div>
            </div>

            <div class="card we_serve_section_card_right">
                <div class="img_div">
                <img src="images/coffee12.png" alt="Gusto Pieno">
                </div>

                <div class="we_serve_section_cards_headings">
                    <h1 class="playfair_display_600">Gusto Pieno</h1>
                    <p class="muli_regular_300">A blend with an intense aroma and compact cream.</p>
                </div>
            </div>

            <div class="card we_serve_section_card_left">
                <div class="img_div">
                <img src="images/coffee13.png" alt="Gusto Forte">
                </div>

                <div class="we_serve_section_cards_headings">
                    <h1 class="playfair_display_600">Gusto Forte</h1>
                    <p class="muli_regular_300">A blend with a pleasing cocoa aftertaste.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="kimbo inner_navigation_section" id="kimbo">
        <div class="our_coffee_section_secondary_headings section_main_headings">
            <h1 class="playfair_display_600">Kimbo</h1>
            <div class="vertical_border bread_color"></div>
        </div>

        <div class="we_serve_section_cards our_coffee_cards">
            <div class="card we_serve_section_card_left">
                <div class="img_div">
                <img src="images/coffee14.png" alt="Bio Organic">
                </div>

                <div class="we_serve_section_cards_headings">
                    <h1 class="playfair_display_600">Bio Organic</h1>
                    <p class="muli_regular_300">From light roast and intense aroma, the FairTrade and Organic certified blend has a strong floral aroma, with a flavor of almond and a hint of spice.</p>
                </div>
            </div>

            <div class="card we_serve_section_card_right">
                <div class="img_div">
                <img src="images/coffee15.png" alt="Unique">
                </div>

                <div class="we_serve_section_cards_headings">
                    <h1 class="playfair_display_600">Unique</h1>
                    <p class="muli_regular_300">A blend with a mellow flavour and medium body, perfectly balanced by an intense aroma and a smooth acidity.</p>
                </div>
            </div>

            <div class="card we_serve_section_card_left">
                <div class="img_div">
                <img src="images/coffee16.png" alt="Top Flavour">
                </div>

                <div class="we_serve_section_cards_headings">
                    <h1 class="playfair_display_600">Top Flavour</h1>
                    <p class="muli_regular_300">A harmonious blend with an unmistakable aroma and a particularly sweet, smooth, seductive flavour.</p>
                </div>
            </div>

            <div class="card we_serve_section_card_right">
                <div class="img_div">
                <img src="images/coffee17.png" alt="Prestige">
                </div>

                <div class="we_serve_section_cards_headings">
                    <h1 class="playfair_display_600">Prestige</h1>
                    <p class="muli_regular_300">A blend of fine coffees with a precise degree of roasting and delicate flavour, the expression of love in coffee.</p>
                </div>
            </div>

            <div class="card we_serve_section_card_left">
                <div class="img_div">
                <img src="images/coffee18.png" alt="Extra Cream">
                </div>

                <div class="we_serve_section_cards_headings">
                    <h1 class="playfair_display_600">Extra Cream</h1>
                    <p class="muli_regular_300">A perfect balance between sweetness and acidity, a persistent crema and well-balanced body round.</p>
                </div>
            </div>
        </div>
    </div>

    </div>

    <div class="promote_section">
        <div class="text playfair_display_300">Have a Question?</div>
        <div class="btn"><a href="/contact-us"><button class="container_main_btn muli_bold promote_section_btn">Contact us</button></a></div>
    </div>

    {{>footer}}
</body>
<script src="https://kit.fontawesome.com/0b090846fe.js" crossorigin="anonymous"></script>
<script src="js/our_coffee.js"></script>
</html>