<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/logo2.png" type="image/x-icon">
    <title>Privacy Policy</title>
    <link rel="stylesheet" href="css/privacy_policy.css">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="https://use.typekit.net/mkj0qph.css">
</head>
<body>
    
    {{>navbar}}

    <div class="privay_policy_section">
        
        <div class="privacy_policy_section_headings">
            <h2 class="playfair_display_300">COFFEE ADDRESS PERSONAL DATA PROCESSING POLICY</h2>
            <h3 class="playfair_display_300">Version updated on January 25th 2019</h3>
        </div>

        <div class="privacy_policy_section_content">
            <li class="muli_regular_300">
                <h4>Definitions</h4>
                <p>Client means any legal person who uses, has used or has expressed a wish to use any of the services provided by Coffee Address. 
                Personal data means any information related to Clients’ contact persons – natural persons that we have obtained during a period of co-operation with you or because you have used an opportunity to apply for any of our services on this website, or have subscribed to news about Coffee Address. 
                Processing means any operation carried out with personal data, including collection, recording, storing, changing, ensuring access, making requests, transfer, etc.</p>
            </li>
            <li class="muli_regular_300">
                <h4>Information about data controller</h4>
                <p>The processing controller of the personal data specified in this Policy is Coffee Address SIA, reg. No. 40003174017, legal address: Rīga, Brīvības street 155 k-7, LV-1012 (hereinafter – Coffee Address) and Baltic Coffee Holding, SIA, reg. No. 40203047754, legal address: Jaunmoku street 34, Rīga, LV-1046 (hereinafter – Baltic Coffee Holding). Coffee Address and Baltic Coffee Holding shall process your personal data as joint controllers and their mutual responsibilities, rights and competence within the personal data processing are regulated in the contract entered into between them.</p>
            </li>
            <li class="muli_regular_300">
                <h4>Purpose of the document</h4>
                <p> The Policy is developed to ensure and inform the Clients about the Personal data processing implemented by Coffee Address pursuant to the requirements of regulatory enactments of the Republic of Latvia, as well as Regulation (EU) 2016/679 of the European Parliament and of the Council of 27 April 2016 on the protection of natural persons with regard to the processing of personal data and on the free movement of such data (hereinafter - Regulation) and other applicable legal acts in the area of privacy and data protection.
                This Personal data processing policy (hereinafter – Policy) contains information about the procedure according to which Coffee Address processes Personal data of its Clients. The provisions of this Policy apply to all Clients of Coffee Address, which have used or have expressed a wish to use the services provided by Coffee Address, including in relations with the Clients established before entry into force of this Policy.</p>
            </li>
            <li class="muli_regular_300">
                <h4>Personal data categories</h4>
                <p>In case you are our Client, have been our Client or have expressed a wish to become our Client, for the purpose of service provision during the co-operation we obtain from you and process the following Personal data: name, surname, position, e-mail, contact telephone number of a contact person, as well as communication data between Coffee Address and Client’s contact person with regard to orders made by the Client, installation of services, as well as complaints about quality of services</p>
            </li>
            <li class="muli_regular_300">
                <h4>Legal basis and purpose of Personal data Processing</h4>
                <p>To enter into and perform a contract: Pursuant to subclause b of part 1 of Article 6 of the Regulation, Coffee Address processes Personal data of Clients to enter into and perform service contracts, to keep Client data updated and correct, to ensure communication related to performance of a contract, to inform Clients about changes to contracts or to the process of provision of services, to invoice and deliver invoices for services, as well as to carry out measures upon the Client’s request prior to entering into the contract.</p>
            </li>
            <li class="muli_regular_300">
                <h4>Personal data recipients</h4>
                <p>For processing of your Personal data for the purpose of provision of a quality service Coffee Address may use service providers that will perform processing of your Personal data. In such cases Coffee Address carries out required measures to ensure that such Personal data processors carry out Personal data processing in accordance with Coffee Address instructions and in compliance with requirements of regulatory enactments, as well as will require to carry out appropriate security measures.</p>
            </li>
            <li class="muli_regular_300">
                <h4>Data storage and technical security</h4>
                <p>Coffee Address within the scope and according to the procedure provided by the regulatory enactments ensures confidentiality of the Client’s Personal data and has implemented consistent technical and organizational measures for protection of the Personal data from unauthorized access, illegal Processing or disclosure, accidental loss, alteration or destruction</p>
            </li>
            <li class="muli_regular_300">
                <h4>Rights of data subjects to information and correction of data</h4>
                <p>Coffee Address ensures to contact persons of the Clients (data subjects) the following rights in relation to the Personal data Processing: 
                (a) To request correction of one’s Personal data if they are improper, incomplete or inaccurate; 
                (b) To object against processing of one’s Personal data if the use of Personal data is based on legitimate interests, including for receiving marketing offers or participation in surveys; 
                (c) To request to erase one’s Personal data but only in cases when Personal data are processed on the basis of consent of a data subject, as well as in cases when Coffee Address no longer has legal basis for Personal data processing set forth by the regulatory enactments; 
                (d) To request restriction of one’s Personal data Processing in accordance with the applicable regulatory enactments, for example, in the period when Coffee Address evaluates whether the data subject is entitled to request erasure of its data</p>
            </li>
            <li class="muli_regular_300">
                <h4>Cookies</h4>
                <p>9.1. Similar to the majority of other websites, this site uses cookies as well. Read more about the cookies policy here.
                9.2. Links to websites of the third parties having their own terms of use may be placed on the Coffee Address website and Coffee Address shall not be liable for them.</p>
            </li>
            <li class="muli_regular_300">
                <h4>Other provisions</h4>
                <p>10.1. This Policy is available to Clients on the Coffee Address website www.coffeeaddress.lv. 
                10.2. Coffee Address may introduce supplements and changes to this Policy informing contact persons of the Clients of such changes by e-mail, as well as by posting the updated Policy on the website.</p>
            </li>
        </div>

    </div>

    {{>footer}}

</body>
<script src="https://kit.fontawesome.com/0b090846fe.js" crossorigin="anonymous"></script>
<script src="js/privacy_policy.js"></script>
</html>