<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
    <link rel="shortcut icon" href="images/logo2.png" type="image/x-icon">
    <link rel="stylesheet" href="css/services.css">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="https://use.typekit.net/mkj0qph.css">
</head>
<body>
    {{>navbar}}

    {{>intro_section}}

    <div class="section_main_headings">
        <div class="vertical_border bread_color"></div>
    </div>

    <div class="services_cards we_serve_section_cards">
            <div class="card we_serve_section_card_left">
                <img src="images/A600_Composing_coverr.png" alt="Home Office">

                <div class="we_serve_section_cards_headings">
                    <h1 class="playfair_display_600">Full maintenance</h1>
                    <p class="muli_regular_300">A planned and preventative maintenance service makes sure, that coffee machines are clean, fill of ingredients and working consistently. The Full Maintenance Service includes Repair Service.</p>
                </div>
            </div>

            <div class="card we_serve_section_card_right">
                <img src="images/CA_Services_Repair@2x.png" alt="Home Office">

                <div class="we_serve_section_cards_headings">
                    <h1 class="playfair_display_600">Repair</h1>
                    <p class="muli_regular_300">Our highly skilled technicians provide Repair Service for companies, who manage their own automatic coffee machines.</p>
                </div>
            </div>
            <div class="card we_serve_section_card_left">
                <img src="images/CA_Services_Training@2x.png" alt="Home Office">

                <div class="we_serve_section_cards_headings">
                    <h1 class="playfair_display_600">Training</h1>
                    <p class="muli_regular_300">Our experienced consultants – barista trainers offer the training tailored to your individual needs: barista training, coffee menu offerings, coffee machine use and maintenance, procedural outlining and customer service training that will help your concept come to life.</p>
                </div>
            </div>
        </div>

    <div class="promote_section">
        <div class="text playfair_display_300">Have any Question?</div>
        <div class="btn"><a href="/contact-us"><button class="container_main_btn muli_bold promote_section_btn">Contact Us</button></a></div>
    </div>
    {{>footer}}
</body>
<script src="https://kit.fontawesome.com/0b090846fe.js" crossorigin="anonymous"></script>
<script src="js/services.js"></script>
</html>