<div id="coffee_and_us_section">
        <div class="coffee_and_us_headings section_main_headings">
            <h1 class="playfair_display_600">Coffee and Us</h1>
            <p class="muli_regular_300">You can’t imagine a day without a cup of coffee and we believe that your office and on-the-go coffee should never be a compromise.</p>
            <div class="vertical_border bread_color"></div>
        </div>

        <div class="coffee_and_us_section_img">
            <a href="/coffee-and-us"><button class="container_main_btn muli_bold">Read More</button></a>
        </div>
</div>