 <div class="coffee_slider">
            <div class="coffee_slider_images" id="coffee_slider_images">
                <div class="coffee_slider_img_container 1 ">
                    <img src="images/coffee1.png" class="coffee_slider_img " alt="coffee 1">
                    <div class="slider_imgs_headings">
                    <h3 class="playfair_display_300" >Fresh Tea</h3>
                    <p class="muli_regular_300">Medium Roast</p>
                    </div>
                </div>
                <div class="coffee_slider_img_container 2 coffee_slider_img_container_selected">
                    <img src="images/coffee2.png" class="coffee_slider_img img_5" alt="coffee 2">
                    <div class="slider_imgs_headings">
                    <h3 class="playfair_display_300" >Fresh Tea</h3>
                    <p class="muli_regular_300">Medium Roast</p>
                    </div>
                </div>
                <div class="coffee_slider_img_container 3">
                    <img src="images/coffee3.png" class="coffee_slider_img" alt="coffee 3">
                    <div class="slider_imgs_headings">
                    <h3 class="playfair_display_300" >Fresh Tea</h3>
                    <p class="muli_regular_300">Medium Roast</p>
                    </div>
                </div>
                <div class="coffee_slider_img_container 4">
                    <img src="images/coffee4.png" class="coffee_slider_img" alt="coffee 4">
                    <div class="slider_imgs_headings">
                    <h3 class="playfair_display_300" >Fresh Tea</h3>
                    <p class="muli_regular_300">Medium Roast</p>
                    </div>
                </div>
                <div class="coffee_slider_img_container 5 ">
                    <img src="images/coffee5.png" class="coffee_slider_img" alt="coffee 5">
                    <div class="slider_imgs_headings">
                    <h3 class="playfair_display_300" >Fresh Tea</h3>
                    <p class="muli_regular_300">Medium Roast</p>
                    </div>
                </div>
                <div class="coffee_slider_img_container 6">
                    <img src="images/coffee6.png" class="coffee_slider_img" alt="coffee 6">
                    <div class="slider_imgs_headings">
                    <h3 class="playfair_display_300" >Fresh Tea</h3>
                    <p class="muli_regular_300">Medium Roast</p>
                    </div>
                </div>
                <div class="coffee_slider_img_container 7">
                    <img src="images/coffee7.png" class="coffee_slider_img" alt="coffee 7">
                    <div class="slider_imgs_headings">
                    <h3 class="playfair_display_300" >Fresh Tea</h3>
                    <p class="muli_regular_300">Medium Roast</p>
                    </div>
                </div>
                <div class="coffee_slider_img_container 8">
                    <img src="images/coffee8.png" class="coffee_slider_img" alt="coffee 8">
                    <div class="slider_imgs_headings">
                    <h3 class="playfair_display_300" >Fresh Tea</h3>
                    <p class="muli_regular_300">Medium Roast</p>
                    </div>
                </div>
                <div class="coffee_slider_img_container 9">
                    <img src="images/coffee9.png" class="coffee_slider_img" alt="coffee 9">
                    <div class="slider_imgs_headings">
                    <h3 class="playfair_display_300" >Fresh Tea</h3>
                    <p class="muli_regular_300">Medium Roast</p>
                    </div>
                </div>
                <div class="coffee_slider_img_container 10">
                    <img src="images/coffee10.png" class="coffee_slider_img" alt="coffee 10">
                    <div class="slider_imgs_headings">
                    <h3 class="playfair_display_300" >Fresh Tea</h3>
                    <p class="muli_regular_300">Medium Roast</p>
                    </div>
                </div>
            </div>
                <button id="image_slider_next_btn" class="img_slider_next_btn"><img src="images/right-arrow.png" alt="Next Button"></button>
</div>