<div id="footer">
        <div class="upper_footer muli_regular_300">
            <div class="upper_footer_column">
                <p class="upper_footer_column_heading">Solutions</p>
                <ul>
                    <li class="remove_li_style"><a href="/coffee-at-the-office" class="remove_text_decoration">Coffee at the office</a></li>
                    <li class="remove_li_style"><a href="/coffee-in-vending" class="remove_text_decoration">Coffee in Vending</a></li>
                    <li class="remove_li_style"><a href="/coffee-in-cafe" class="remove_text_decoration">Coffee in cafe</a></li>
                </ul>
            </div>
            <div class="upper_footer_column">
                <p class="upper_footer_column_heading">Products</p>
                <ul>
                    <li class="remove_li_style"><a href="/our-coffee" class="remove_text_decoration">Our Coffee</a></li>
                    <li class="remove_li_style"><a href="/coffee-machines" class="remove_text_decoration">Coffee Machines</a></li>
                    <li class="remove_li_style"><a href="/services" class="remove_text_decoration">Services</a></li>
                </ul>
            </div>
            <div class="upper_footer_column">
                <p class="upper_footer_column_heading">Company</p>
                <ul>
                    <li class="remove_li_style"><a href="/coffee-and-us" class="remove_text_decoration">Coffee and us</a></li>
                    <li class="remove_li_style"><a href="/contact-us" class="remove_text_decoration">Contact us</a></li>
                    {{!-- <li>Coffee in cafe</li> --}}
                </ul>
            </div>
            <div class="upper_footer_column">
                <p class="upper_footer_column_heading">Need Help?</p>
                <ul>
                    <li class="remove_li_style"><a href="/customer-support" class="remove_text_decoration">Customer Support</a></li>
                    <li class="remove_li_style"><a href="/faq" class="remove_text_decoration">FAQ</a></li>
                    <li class="remove_li_style"><a href="tel:+923-544779393" class="remove_text_decoration">Call us +923-544779393</a></li>
                </ul>
            </div>
        </div>

        <div class="lower_footer">
            <div class="lower_footer_first_container">
                <div class="subscribe_input_section">
                    <div class="small muli_regular_300">
                        <small>Want to hear coffee news from us?</small>
                    </div>

                    <div class="subscribe_input_and_btn_div">
                        <form action="/subscribe" method="post">
                            <input type="text" name="email" placeholder="Your e-mail address" id="subscribe_email_input" class="subscribe_input_email muli_regular_300">
                            <button class="container_main_btn muli_bold" type="submit" id="subscribe_btn">Subscribe</button>
                        </form>
                    </div>
                    
                    <div class="policy_checkbox">
                        <input type="checkbox" name="privacy_policy_checkbox" id="privacy_policy_checkbox" class="privacy_policy_checkbox">
                        <label for="privacy_policy_checkbox" class="muli_regular_300">Please read the Coffee Address Personal data processing policy <a href="/privacy-policy" class="remove_text_decoration">here.</a></label>
                    </div>
                </div>

                <div class="social_accounts_section">
                    <p class="muli_regular_300">Follow us</p>
                    <i class="fa fa-facebook"></i>
                    <i class="fa fa-instagram"></i>
                    <i class="fa fa-twitter"></i>
                    <i class="fa fa-linkedin"></i>	
                </div>
            </div>

            <div class="lower_footer_second_container muli_regular_300">
                <p><a href="/privacy-policy" class="remove_text_decoration">privacy policy</a> / <a href="/cookie-policy" class="remove_text_decoration">cookie policy</a> / &copy; All right reserved. Coffee Shop 2022</p>

                <p>Developed By <a href="https://instagram.com/muhammadtayyab_3411" class="remove_text_decoration" target="_blank">Muhammad Tayyab</a></p>
            </div>
        </div>
</div>