<div id="intro_section">
        <div id="intro_section_content">
            <h1 class="playfair_display_900" id="intro_section_heading">Your Coffee Shop</h1>
            <p class="muli_regular_300" id="intro_section_paragraph">We believe a cup of coffee is one of the most important, simple pleasures in life </p>
            <div class="vertical_border_container">
                <div class="vertical_border vertical_border_animate"></div>
            </div>
       </div>
</div>