<div class="mobile_nav" id="mobile_nav">
    <ul class="muli_bold">
        <li class="remove_li_style"><a href="" class="remove_text_decoration">Coffee and us</a></li>
        <li class="remove_li_style"><a href="/coffee-at-the-office" class="remove_text_decoration">Coffee at the office</a></li>
        <li class="remove_li_style"><a href="/coffee-in-vending" class="remove_text_decoration">Coffee in Vending</a></li>
        <li class="remove_li_style"><a href="/coffee-in-cafe" class="remove_text_decoration">Coffee in cafe</a></li>
        <li class="remove_li_style"><a href="" class="remove_text_decoration">contact us</a></li>
        <li class="remove_li_style"><a href="/services" class="remove_text_decoration">Services</a></li>
        <li class="remove_li_style"><a href="/our-coffee" class="remove_text_decoration">our coffee</a></li>
        <li class="remove_li_style"><a href="/coffee-machines" class="remove_text_decoration">coffee machines</a></li>
        <li class="remove_li_style"><a href="" class="remove_text_decoration">Need help? <a href="tel:+92393849294">+923-93849294</a></a></li>
    </ul>
</div>