<nav id="navbar">
  <div id="left_links">
    <ul>
      <li class="nav_links nav_left_links remove_li_style"><a
          href="/coffee-at-the-office"
          class="remove_text_decoration"
        >Coffee at the Office</a></li>
      <li class="nav_links nav_left_links remove_li_style"><a
          href="/coffee-in-vending"
          class="remove_text_decoration"
        >Coffee in Vending</a> </li>
      <li class="nav_links nav_left_links remove_li_style"><a
          href="/coffee-in-cafe"
          class="remove_text_decoration"
        >Coffee in Cafe</a></li>
    </ul>
  </div>

  <div id="logo">
    <a href="/">
    <figure>
      <img src="images/logo2.png" class="logo" alt="Coffee Shop Logo" />
    </figure>
    </a>
  </div>

  <div id="right_links">
    <ul>
      <li class="nav_links nav_right_links remove_li_style"><a
          href="/our-coffee"
          class="remove_text_decoration"
        >Our Coffee</a></li>
      <li class="nav_links nav_right_links remove_li_style"><a
          href="/coffee-machines"
          class="remove_text_decoration"
        >Coffee Machines</a></li>
      <li class="nav_links nav_right_links remove_li_style"><a
          href="/services"
          class="remove_text_decoration"
        >Services</a>
      </li>
    </ul>
    	
  </div>

  {{>mobile_nav}}

  <a href="/">
  <img src="images/logo2.png" alt="logo" class="logo_responsive_nav">
  </a>
  <i class="fa fa-bars responsive_nav_icon" id="responsive_nav_icon"></i>
</nav>