<div class="we_serve_section_cards">
            <div class="card we_serve_section_card_left">
                <img src="images/at_the_office_coffee_address.jpg" alt="Home Office">

                <div class="we_serve_section_cards_headings">
                    <h1 class="playfair_display_600">Coffee Address</h1>
                    <p class="muli_regular_300">Discover enticing flavors, smells and colors in our carefully crafted blends of coffee.</p>
                    <a href="/our-coffee#coffee_address"><button class="container_main_btn muli_bold">See Our Coffee</button></a>
                </div>
            </div>

            <div class="card we_serve_section_card_right">
                <img src="images/at_the_office_atlas.jpg" alt="Home Office">

                <div class="we_serve_section_cards_headings">
                    <h1 class="playfair_display_600">ATLAS by Coffee Address</h1>
                    <p class="muli_regular_300">Our top-of the-crop finest blends -  a sensory journey around the best coffees of the world.</p>
                    <a href="/our-coffee#atlas"><button class="container_main_btn muli_bold">See Our Coffee</button></a>
                </div>
            </div>
            <div class="card we_serve_section_card_left">
                <img src="images/lavazza.jpg" alt="Home Office">

                <div class="we_serve_section_cards_headings">
                    <h1 class="playfair_display_600">Lavazza Expert Range</h1>
                    <p class="muli_regular_300">The right selection of coffee beans is chosen to produce a high-quality espresso-based drinks. The organoleptic properties of the selected coffees remain intact right until they are dispensed, even after prolonged periods in the vending and automatic coffee machines.</p>
                    <a href="/our-coffee#lavazza"><button class="container_main_btn muli_bold">See Our Coffee</button></a>
                </div>
            </div>
            <div class="card we_serve_section_card_right">
                <img src="images/CA_Coffee_at_the_office_KIMBO@2x.png" alt="Home Office">

                <div class="we_serve_section_cards_headings">
                    <h1 class="playfair_display_600">Kimbo Espresso Bar</h1>
                    <p class="muli_regular_300">Each Espresso bar blend has its own unique flavour profile and personality. Discover your favourite and get yourself lost in the authentic taste of Naples.</p>
                    <a href="/our-coffee#kimbo"><button class="container_main_btn muli_bold">See Our Coffee</button></a>
                </div>
            </div>
    </div>