<div id="we_serve_section">
        <div class="we_serve_headings section_main_headings">
            <h1 class="playfair_display_600">We Serve</h1>
            <p class="muli_regular_300">Coffee Address is committed to positively impacting the quality of life through exceptional cup of coffee.</p>
            <div class="vertical_border bread_color"></div>
        </div>

        <div class="we_serve_section_cards">
            <div class="card we_serve_section_card_left">
                <img src="images/home_office.jpg" alt="Home Office">

                <div class="we_serve_section_cards_headings">
                    <h1 class="playfair_display_600">Coffee at the Office</h1>
                    <a href="/coffee-at-the-office"><button class="container_main_btn muli_bold">View More</button></a>
                </div>
            </div>

            <div class="card we_serve_section_card_right">
                <img src="images/home_onthego.jpg" alt="Home Office">

                <div class="we_serve_section_cards_headings">
                    <h1 class="playfair_display_600">Coffee on the go</h1>
                    <a href="/coffee-in-vending"><button class="container_main_btn muli_bold">View More</button></a>
                </div>
            </div>
            <div class="card we_serve_section_card_left">
                <img src="images/CA_Home_Coffee_in_cafe@2x.png" alt="Home Office">

                <div class="we_serve_section_cards_headings">
                    <h1 class="playfair_display_600">Coffee in cafe</h1>
                    <a href="/coffee-in-cafe"><button class="container_main_btn muli_bold">View More</button></a>
                </div>
            </div>
        </div>
</div>