/* --------Business Services Section Styling----------- */
.business_services_section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f8f7f5;
    margin: 0 4rem;
    padding: 5rem 0;
}

.business_services_section .business_services_section_lists{
    margin: 6rem 0 5rem 0;
}

.business_services_section .business_services_section_lists li{
    font-size: 1.2rem;
}

.business_services_section .business_services_section_lists li:not(:first-child){
    margin-top: 2rem;
}

/* ---------Promote Section Styling */
.promote_section{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 15rem;
    margin: 5rem 4rem 0 4rem;
}

.promote_section .text{
    color: white;
    width: 50%;
    font-size: 1.8rem;
}

.btn{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.btn button{
    color: white !important;
    background-color: black !important;
    border: 2px solid var(--we_serve_section_cards_headings_color) !important;
    padding: 1.6rem 2.3rem !important;
    font-size: .7rem;
}

.btn button::before{
    background-color: var(--we_serve_section_cards_headings_color) !important;
}

.btn button:hover{
    color: white !important;
}

/* -------Card Styling-------- */
.we_serve_section_cards_headings{
    width: 40%;
}

.we_serve_section_cards_headings p {
    margin-top: 3rem;
    line-height: 2rem;
    color: #787878;
}

.our_coffee_section_cards .card img{
    width: 27rem;
    height: 20rem;
}

/* --------Media Queries--------- */
@media screen and (max-width: 765px) {
    .we_serve_section_cards_headings{
        width: 80%;
    }

    .we_serve_section_cards_headings h1, .we_serve_section_cards_headings p{
        text-align: center;        
    }
    
}

@media screen and (max-width: 560px) {
    .promote_section{
        flex-direction: column;
        height: auto;
        padding: 3rem 1rem 3rem 1rem;
    }

    .promote_section .text{
        text-align: center;
    }

    .promote_section .btn{
        margin-top: 2rem;
    }
}

@media screen and (max-width: 490px){
    .business_services_section{
        padding: 4rem 1rem;
    }

    .business_services_section .business_services_section_lists{
        text-align: center;
        list-style: none;
        padding: 0 2rem;
    }

    .promote_section .text{
        font-size: 1.3rem;
    }

    .section_main_headings h1{
        font-size: 3.2rem !important;
    }
}

@media screen and (max-width: 390px) {
    .our_coffee_section_cards .card img{
        width: 22rem;
        height: 16rem;
    }
}

@media screen and (max-width: 302px) {
    .our_coffee_section_cards .card img{
        width: 18rem;
        height: 14rem;
    }
}

@media screen and (max-width: 230px) {
    .our_coffee_section_cards .card img{
        width: 14rem;
        height: 12rem;
    }

    .section_main_headings h1{
        font-size: 2.7rem !important;
    }

    .promote_section .text{
        font-size: 1rem;
    }
}